<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="encryption_key" value="64c212df34c66e6fe9fccbfebc8899c10584cfa1669c42a175d65db073b13bc0" />

		<add key="TargetChats" value="2738945271" />
		<!-- Базові патерни для пошуку -->
		<add key="SearchPatterns" value="тест|новини|привіт|важливо" />
		<add key="MessagePatterns" value='{
			"any_of": {
				"keywords": ["тест", "новини", "привіт", "важливо"],
				"message": "🔔 Знайдено одне з ключових слів: {found_words}\n\nПовідомлення: {message_preview}"
			},
			"all_of": {
				"keywords": ["ракет", "Київ"],
				"message": "🚨 УВАГА! Знайдено всі ключові слова: {found_words}\n\nПовідомлення: {message_preview}"
			}
		}' />
		<add key="MessagePatterns" value='{
  "all_of": {
    "keywords": ["Світ", "Назад"],
    "message": "🚨 УВАГА! Знайдено всі ключові слова: {found_words}\n\nПовідомлення: {message_preview}"
  }
}'/>
	</appSettings>
</configuration>