<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="Token" value="8472483264:AAGFBbsH6b9PvezjjgSNCSuqZM_iotxSWic" />
		<add key="TargetChats" value="-1002738945271," />
		<add key="SearchPatterns" value="тест|новини|привіт|важливо" />  <!-- Додано Regex-патерни -->		
	</appSettings>
</configuration>